<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>canvas制作知乎登录页面背景动画特效演示_xm_科技https://xmkeji.taobao.com/</title>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link  rel="stylesheet" href="../static/clean-blog.min.css">
<style type="text/css">
{#body{#}
{#	text-align: center;#}
{#	background: #F7FAFC;#}
{#	overflow: hidden;#}
{#	background: #fff;#}
{#	}#}
canvas{
    position:absolute;
    z-index:-1;
}


</style>

</head>
<body>
<!-- 代码 开始 -->



    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light fixed- top" id="mainNav">

        <a class="navbar-brand" href="#">Start Your Campus</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add</a>
            </li>
          </ul>
        </div>
    </nav>
   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add</a>
            </li>
            </ul>
        </div>
    </nav>-->
<canvas id="Mycanvas"  height="600">Hello</canvas>
<main>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
<form data-toggle="validator" role="form">
  <div class="form-group">
    <label for="inputName" class="control-label">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Cina Saffary" required>
  </div>
</form>
            <div class="form-group">
    <label for="inputEmail" class="control-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
    <div class="help-block with-errors"></div>
  </div>
        </div>
    </div>
</div>
</main>









<script src="../static/background.js"></script>
<script src="../static/bootstrap.min.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/popper.min.js"></script>
<script src="../static/clean-blog.min.js"></script>
<!-- 代码 结束 -->

</body>
</html>